<%- include("partials/_header") %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <a href="/p %>" class="btn btn-info">
            Patients
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <a href="/t %>" class="btn btn-info">
            Treatments
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <a href="/d %>" class="btn btn-info">
            Doctors
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <tr>
            <a href="/h %>" class="btn btn-info">
              Rooms
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <a href="/w %>" class="btn btn-info">
            Workers
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <a href="/b %>" class="btn btn-info">
            Bills
          </a>
        </div>
      </div>
    </div>
  </div>


  <%- include("partials/_footer") %>